body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #af24c4;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    text-align: center;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: #3C5B6F;
}

footer {
    margin-top: auto;
    background-color: #af24c4;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
